header {
	display: flex;
	height: 50px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 16px;
	align-items: center;
	padding: 0 16px;

	.title {
		flex: 1;
		font-size: 16px;
		font-family: Helvetica;
	}

	.maps {
		select {
			font-size: 16px;
			height: 30px;
			padding: 0 16px;
		}
	}
}

.map {
	display: flex;
    flex-direction: column;

	.row {
		width: 1020px;
		margin: 0 auto;
		height: 340px;
		
		app-map-portion {
			height: 340px;
		}
	}
}